# System files
.DS_Store
Thumbs.db

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
venv_streamlit/

# IDE
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints

# Large files (optional)
# *.pkl
# *.csv
